@font-face{
    font-family: 'Perfect DOS VGA 437 Win';
    src: local('Perfect DOS VGA 437 Win'); 
    src: url(fonts/perfect_dos_vga_437/Perfect_DOS_VGA_437_Win.ttf);
    font-weight: 400;
    font-style: normal;
    }


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Perfect DOS VGA 437 Win', arial;
    font-size: 10px;
}

.container {
    position: relative;
    width: 80%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.main {
    margin-top: 20px;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
    color: rgb(59, 255, 52);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title p {
    color: rgb(59, 255, 52);
}

.main-line {
    color: rgb(59, 255, 52);
    font-size: 1.4rem;
}

.com-line {
    color: rgb(59, 255, 52);
    font-size: 1.4rem; 
    overflow: hidden;
    word-break: break-all
}

.success {
    color: #fff;
    font-size: 1.4rem;
}

.button {
    display: block;
    margin: 0 auto 30px;
    background-color: transparent;
    width: 160px;
    height: 60px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Perfect DOS VGA 437 Win', arial;
    cursor: pointer;
    transition: all .4s;
    outline: none;
    opacity: 1;
}

.button:hover {
    border: 1px solid rgb(59, 255, 52);
    color: rgb(59, 255, 52);;
    transition: all .4s;
}

.button-hide {
    opacity: 0;
}

.logo {
    position: absolute;
    width: auto;
    height: 230px;
    left: calc(50% - 65px);
}

.wrapper {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    height: calc(100vh - 120px);
    z-index: 1;
    opacity: .9;
}

.col-btn {
    margin-top: 30px;
}

@media (max-width: 450px) {

    .container {
        width: 90%;
    }

    h2 {
        font-size: 1.4rem;
    }
    
    .main-line,
    .success,
    .com-line{
        font-size: 1rem;
    }
    
}

@media (max-width: 360px) {
    h2 {
        font-size: 1.4rem;
    }
}